<p id="notice"><%= notice %></p>

<h1>Search</h1>

<%= form_tag search_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :location, params[:location], :placeholder => 'Digite a cidade de destino', :style => 'width: 200px', :list => 'locations' %>

    <datalist id="locations">
      <option value="Rio de Janeiro">
      <option value="São Paulo">
    </datalist>


    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.location %></td>
        <td><%= link_to 'Show', hotel %></td>
      </tr>
    <% end %>
  </tbody>
</table>
