<!DOCTYPE html>
<html>
<head>
  <title>SearchHotel</title>
</head>
<body>

<ul>
	<li><%= link_to 'Busca', search_path %></li>
	<li><%= link_to 'Hotels', hotels_path %></li>
</ul>

<%= yield %>

</body>
</html>
